.landing-page{
  background-image: url('../../img/landingBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30rem;

}
.landing-details{
  padding: 15% 5%;

}
.landing-details h1{
  margin: 0;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #000000;

}
.landing-details h2{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  padding-bottom: 1.5rem;


}
.filter-search{
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px){
  .landing-details{
    padding: 15% 5%;
  
  }
}