.App{
  font-family: 'Inter';
}
.categories{
  width: 90%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* gap: .1rem; */
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;

}
.category{
  background-repeat: no-repeat;
  background-size: cover;
  width:95%;
  height:12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category p{
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #FFFFFF;
  text-transform: uppercase;
}
.all{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('./img/all.jpg');
  
}
.indian{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('./img/indian.jpg');
}
.vegetarian{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('./img/vegeterian.jpg');
}
.healthy{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('./img/healthy.jpg');
}
.recipes{
  background-image: url("./img/itemsBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  margin-top: 1rem;

}
.recipes h2{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #041420;

}
 ul{
  margin: 0;
  padding: 0;
  width: 90%;
}
.recipeList li{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.footer{
  width: 100%;
  height: 265px;
  left: 0px;
  background: #041420;
  display: flex;
  justify-content: space-around;
}
.about-details{
  max-width: 364px;
}
.about-details h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #EFA800;
  margin-bottom: 0;

}

.about-details p{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  color: #FFFFFF;

}
.contact-details h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #EFA800;
  margin-bottom: 0;

}
.contact-header{
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.contact{
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}
.footer-icons img{
  height: 21.88232421875px;
  width: 21.88720703125px;
  border-radius: 0px;
  margin-right: 1rem;
}